<script type="text/javascript" src="../ressources/spectrum.js" ></script>
<link rel="stylesheet" src="../ressources/spectrum.css" />
<script type="text/javascript" src="main.js"></script>
<script type="text/javascript">
    $(function() { //DOM Ready
        $("#tabs").tabs();

    });
    function saveValues(elem){
        var elements = $(elem).parent().parent().find("input");
        $.post("requestHandler.php",elements.serialize()+"&r=saveValue",function(data){
            console.log(data);
            $(elem).parent().parent().find(".value").html(data.value);
            $(elem).parent().parent().find(".previewValue").html(data.previewValue);
            $(elem).parent().parent().animate({"background-color":"#00ff00"},400).animate({"background-color":"transparent"},200);
        },"json");
//        });
    }

    function removeValue(elem){
        var valueId = $(elem).parent().parent().find("input[name=value_id]").val();
        $.post("requestHandler.php","&r=deleteValueById&id="+valueId,function(data){
            console.log(data);
            $(elem).parent().parent().fadeOut(500);
        },"json");
//        });
    }
    function addFormula(){
        var emptyRow = "<tr><td>&nbsp;</td>" +
                "<td><input type='text' placeholder='Formula' name='formula' /></td>" +
                "<td><input type='number' placeholder='Decimals' value='2' name='number_of_decimals' size='1'/></td>" +
                "<td><input type='text' placeholder='Unit' value='' name='unit' size='5'/></td>" +
                "<td><input type='text' name='preview' value='' disabled='disabled'/></td>" +
                "<td><input type='text' name='label' value='' placeholder='Label' /></td>" +
                "<td><input type='checkbox' name='log_in_rrd' /></td>" +
                "<td><input type='button' value='Preview' onclick='FormulaValue(this)' />" +
                "<input type='button' value='Save' onclick='FormulaValue(this,true)' /> </td>" +
                "</tr>";
        
        $("#formulas").append(emptyRow);
    }
    
    function FormulaValue(elem,save){
        if(save==undefined) {
            save = false;
        }
        var elements = $(elem).parent().parent().find("input");
        var preview = $(elem).parent().parent().find("input[name=preview]");
        $.post("requestHandler.php",elements.serialize()+"&r=getFormulaValue&save="+save,function(data){
            if(!data.error){
                preview.val(data.value);
                if(save){
                    $(elem).parent().parent().find("td:first").html("<input type='hidden' value='"+data.id+"' name='value_id' />"+data.id);
                    $(elem).parent().parent().animate({"background-color":"#00ff00"},400).animate({"background-color":"transparent"},200);
                }
            }else{
                preview.val(data.desc);
            }
            console.log(data);
        },"json");
    }
    
    function valueNameAssociation(target){
        $.post("requestHandler.php", {
            "r": "getOverlayContent",
            "content" : "showAssignedNamesForValue",
            "value_id" : $(target).parent().parent().find("input[name=value_id]").val()
        }, function (data) {
            displaySelectorOverlay(data,$(target));
        });
    }
    
    function addValueNameAssociation(elem){
        var newRow = "<tr><td><input type='number' value='' name='id' size='2' /></td><td><input type='text' value='' name='name' /></td></tr>";
        $(elem).parent().find("table tr:last").after(newRow);
    }
    
    function saveValueNameAssociation(elem){
        var elements = [];
        $(elem).parent().find("tr").each(function(){
            if($(this).find("input[name=id]").val() != undefined){
                elements.push({
                    id: $(this).find("input[name=id]").val(),
                    name: $(this).find("input[name=name]").val()
                });
            }
        });
        $.post("requestHandler.php", {
            "r": "saveValueNameAssociation",
            "value_id":$(elem).parent().find("input[name=value_id]").val(),
            "data" : elements
        }, function (data) {
           if(!data.error){
               closeSelectorOverlay();
           }
        },"json");
    }
    
    function booleanMeaningAssociation(target) {
        $.post("requestHandler.php", {
            "r": "getOverlayContent",
            "content" : "showBoolAssociation",
            "value_id" : $(target).parent().parent().find("input[name=value_id]").val()
        }, function (data) {
            displaySelectorOverlay(data,$(target));
        });
    }    
    
    
    function saveBoolAssociation(elem) {
        var elements = [];
        $(elem).parent().find("select").each(function(){
            elements.push({
                id: $(this).attr("name").substring(6),
                name: $(this).val()
            });
        });
        $.post("requestHandler.php", {
            "r": "saveValueNameAssociation",
            "value_id":$(elem).parent().find("input[name=value_id]").val(),
            "data" : elements
        }, function (data) {
            if(!data.error){
                closeSelectorOverlay();
            }
        },"json");
    }

    function limitAssignment(target) {
        $.post("requestHandler.php", {
            "r": "getOverlayContent",
            "content" : "showLimitsForValue",
            "value_id" : $(target).parent().parent().find("input[name=value_id]").val()
        }, function (data) {
            displaySelectorOverlay(data,$(target));
        });
    }
    
    function addLimit(value_id){
        $.post("requestHandler.php", {
            "r": "getOverlayContent",
            "content" : "addLimitToValue",
            "value_id" : value_id
        }, function (data) {
            $("#limits").append(data);
        });
    }
    
    function saveLimits(value_id) {
        var postData = [];
        $("#limits div").each(function(){
            postData.push($(this).find("input, select").serialize()+"&r=getOverlayContent&content=addLimitToValue&value_id="+value_id);
        });
        //Save to Server
        saveLimitsForOneValueRecursive(value_id,postData);
        
    }
    
    //Recursively go through all postData elements and send them to the server in sequence because otherwise the database can't cope with the speed of the (almost parallel) requests.
    function saveLimitsForOneValueRecursive(value_id,postData){
        $.post("requestHandler.php", postData.shift(), function (data) {
            if(postData.length>0){
                saveLimitsForOneValueRecursive(value_id,postData);
            }else{
                $("input[name=limits_"+value_id+"]").click(); //Click the button to reload the overlay (simplest option)
            }
        });
    }
    
    function editActions(elem,limit_id){
        $.post("requestHandler.php", {
            "r": "getOverlayContent",
            "content" : "showActionsForLimit",
            "limit_id" : limit_id
        }, function (data) {
            $(elem).parent().find(".actions").html(data).slideDown(300);
        });
    }

    function addAction(elem,limit_id,action){
        $.post("requestHandler.php", {
            "r": "getOverlayContent",
            "content" : "addActionToLimit",
            "limit_id" : limit_id,
            "action" : action
        }, function (data) {
            $(elem).parent().find(".actions").append(data);
        });
    }

    function saveActions(elem,limit_id){
        var actions = [];
        console.log($(elem).parent().find(".actions div"));
        $(elem).parent().find(".actions div").each(function(i,element){
            var tmp = {};
            $(element).find("input").each(function(j,elem){
                tmp[$(elem).attr("name")] = $(elem).val();
            });
            $(element).find("select").each(function(j,elem){
                tmp[$(elem).attr("name")] = $(elem).val();
            });
            actions[i] = tmp;
        });
        $.post("requestHandler.php", {
            "r": "getOverlayContent",
            "content" : "saveActionToLimit",
            "limit_id" : limit_id,
            "actions": actions
        }, function () {
            $(elem).parent().slideUp(300).html("");
        });
    }

    function removeAction(elem){
        $(elem).parent().fadeOut(300,function(){
            $(this).remove();
        });
    }

    function removeLimit(elem){
        var limitId = $(elem).parent().find("input[name=limit_id]").val();
        $.post("requestHandler.php",{"r":"removeLimit","limit_id":limitId},function(data){
            console.log(data);
        });
        $(elem).parent().fadeOut(300,function(){
            $(this).remove();
        });
    }

    function updatePreview(elem){
        if($(elem).attr("name") == "text"){
            $(elem).parent().find(".preview").css("color",$(elem).val());
        }else{
            $(elem).parent().find(".preview").css("background-color",$(elem).val());
        }
    }
    
    function addValue(elem,type){
        var valueName = prompt("Enter name for new Value");
        var address = Math.round(Math.random()*10000);
        var datasource = "LocalValue";
        if(valueName==null){
            //Aborted, do nothing
        }else if(valueName=="" ){
            //No Valid name, display error and abort
            alert("No valid Name given");
        }else{
            //Check if Name is unique
            $.post("requestHandler.php", {
                "r": "nameIsUsed",
                "address": address,
                "name": valueName
            }, function (data) {
                if(!data.isUsed){
                    //Send address and name to server
                    $.post("requestHandler.php", {
                        "r": "assignIdToAddress",
                        "address": address,
                        "name": valueName,
                        "datasource": datasource,
                        "valueType" : type
                    }, function (data) {
                        var row = "<tr><td><input type='hidden' value='"+data.id+"' name='value_id' />"+data.id+"</td>" +
                                "<td class='value'>0</td>" +
                                "<td class='previewValue'>0</td>" +
                                "<td><input type='number' placeholder='Decimals' value='2' name='number_of_decimals' size='1'/></td>" +
                                "<td><input type='text' placeholder='Unit' value='' name='unit' size='5'/></td>" +
                                "<td><input type='text' name='label' value='"+valueName+"' placeholder='Label' size='20'/></td>" +
                                "<td><input type='checkbox' name='log_in_rrd' /></td>" +
                                "<td><input type='button' value='Save' onclick='saveValues(this)' />" +
                                "<input type='button' value='Delete' onclick='removeValue(this)' />";
                        if(type=="integer"){
                            row += "<input type='button' value='Value Association' onclick='valueNameAssociation(this)'/>";
                        }else if(type == "boolean"){
                            row += "<input type='button' value='Boolean Meaning' onclick='booleanMeaningAssociation(this)'/>";
                        }
                         row += "<input type='button' name='limits_"+data.id+"' value='Limits/Actions' onclick='limitAssignment(this)' />(0 set) </td>" +
                                "</tr>";

                        $(elem).parent().find("table").append(row);

                    },"json");
                }else{
                    alert("Name already in use, please choose a different one!");
                }
            },"json");
        }
    }


</script>
<style type="text/css">
    td {
        border-bottom: solid 1px grey;
    }
    input[name=unit], input[name=label],input[name=lower_limit_msg], input[name=upper_limit_msg] {
        background-color: #cccccc;
        border: solid 0 black;
        /*box-shadow: rgba(0,0,0,0.5) 0px 0px 0px 3px;*/
    }
    input[name=lower_limit], input[name=upper_limit], input[name=number_of_decimals]{
        background-color: #dddddd;
        border: solid 0 black;
        width: 50px;
    }
    #overlay{
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 5px 3px rgba(0,0,0,0.75);
        z-index: 100;
        min-width:250px;
        padding: 5px;
    }
    
    .preview{
        margin: 5px;
        width: 40px;
        border: solid 0 black;
        
    }
    tr{
        background-color: transparent;
    }

    #limits > div{
        margin-bottom: 5px;
    }
    #limits > div:nth-child(even){
        background: lightgray;
    }
    
    #limits > div:nth-child(odd){
        background: darkgrey;
    }
</style>
</head>
<body>
