<script type="text/javascript">
    $(function() { //DOM Ready
        $('.collapsible').click(function() {
            $(this).next().slideToggle();

        });
        //"Assign" Button behaviour to allow for the assigning of a name to a value (which in the background assigns an ID and allows for the value to be used in the interface. 
        $(".assign_value").each(function(){
            $(this).click(function(){
                var button = $(this);
                var address = $(this).attr("address");
                var name = $(this).parent().find(".value_name").val();
                var parameter_id = $(this).attr("parameter_id");
                var errorBox = $(this).parent().parent().find(".errorBox");
                var currentBGColor = button.parent().parent().css("background-color");
                var datasource = null;
                var parent = $(this).parent();
                while(!parent.hasClass("datasource")){
                    parent = $(parent).parent();
                }
                datasource = $(parent).attr("id");
                errorBox.html(""); //Clear Error box text
                //Check if name is empty
                if (name == "") {
                    errorBox.html("Name must not be empty!");
                    button.parent().parent().animate({"background-color":"#f00"},100,false,function(){
                        $(this).animate({"background-color":currentBGColor},500);
                    });
                    
                } else {
                    //Check if name is already used somewhere else
                    $.post("requestHandler.php", {
                        "r": "nameIsUsed",
                        "address": address,
                        "name": name
                    }, function (data) {
                        console.log(data.isUsed);
                        if(!data.isUsed){
                            //Send address and name to server
                            $.post("requestHandler.php", {
                                "r": "assignIdToAddress",
                                "address": address,
                                "parameter_id": parameter_id, 
                                "name": name,
                                "datasource": datasource
                            }, function (data) {
                                if(!data.error){
                                    if(data.id != null){
                                        //Added the value to the database, change button name
                                        button.parent().parent().animate({"background-color":"#0f0"},500,false,function(){
                                            $(this).animate({"background-color":currentBGColor},500,false,function(){$(this).removeAttr("style")});
                                        });
                                        button.val("Update");
                                        button.attr("parameter_id",data.id);
                                        //Add this value to the list of assigned values displayed to the right
                                        $("#set_values").find("#"+datasource+"_values").append("<tr><td>"+data.id+"</td><td value_id='"+data.id+"' class='value_name'>"+name+"</td><td>"+address+"</td><td><input type='button' value='rename' onClick='RenameValue("+data.id+")'/><input type='button' value='Remove' onClick='RemoveValue("+data.id+",this)'/></td></tr>");
                                    }else{
                                        //Updated value, display confirmation
                                        button.parent().parent().animate({"background-color":"#0f0"},500,false,function(){
                                            $(this).animate({"background-color":currentBGColor},500,false,function(){$(this).removeAttr("style")});
                                        });
                                        //Update displayed name also in the assigned values display
                                        $("#set_values").find(".value_name").each(function(){
                                            if($(this).attr("parameter_id") == button.attr("parameter_id")){
                                                $(this).parent().animate({"background-color":"#0f0"}).animate({"background-color":"inherit"});
                                                $(this).html(name);
                                            } 
                                        })
                                    }
                                }
                            }, "json");
                        }else{
                            //Name is already in use, prevent action!
                            button.parent().parent().animate({"background-color":"#f00"},100,false,function(){
                                $(this).animate({"background-color":currentBGColor},500,false,function(){$(this).removeAttr("style")});
                            });
                            errorBox.html("Name already in use!");
                        }
                        
                    }, "json");
                }
            });
        });

        //"Display value" button behaviour to show the user the current value of this address on request. 
        $(".display_value").each(function(){
            $(this).click(function(){
                var connType = "OneWire"; //TODO: Make this recognize the type of connection correctly
                var address = $(this).attr("address");
                if(address !== undefined){
                    var button = $(this);
                    $.post("requestHandler.php",{
                        "r":"getValueByAddress",
                        "connType":connType,
                        "address":address
                    },function(data){
                        button.parent().find(".output_value").val(data.value);
                    },"json");
                }else{
                    $.post("requestHandler.php",{
                        "r":"getValueById",
                        "id":$(this).attr("parameter_id"),
                    },function(data){
                        button.parent().find(".output_value").val(data.value);
                    },"json");
                }
            })
        });
        //Mark KNX rows where a value was changed 
        $("#KNX input").change(function(){$(this).parent().parent().css("background-color","#aaa")});
        $("#KNX select").change(function(){$(this).parent().parent().css("background-color","#aaa")});
        $("#tabs").tabs();
        
    });
    function RenameValue(id){
        //Check if the id is valid
        if(!isNaN(id)){
            //Open the correct tab for this value
            $("#ui-id-1").click();
            //Look for the input corresponding to the id given
            var inputField = $("input[parameter_id="+id+"]");
            var current = inputField;
            if(current.length == 0){
                return false;
            }
            while(!current.is("div")){
                if(current.is("ul")){
                    if(!current.is(":visible")){
                        current.slideToggle();
                    }
                }
                current = current.parent();
            }
            setTimeout(function(){  //Delay the focusing so the slide Action has time to be performed. 
                inputField.prev().focus()
            },200);
        }
        return false;
    }
    
    function RemoveValue(id,elem){
        if(confirm("Are you sure you want to remove this value?")){
            //Remove
            $.post("requestHandler.php", {
                "r": "deleteValueById",
                "id":id
            }, function(data){
                if(!data.error){
                    $(elem).parent().parent().fadeOut(200);
                }
            },"json");
        }
    }
    
    function addKNX(){
        var emptyRow = "<tr><td>&nbsp;</td>" +
                "<td><input type='text' placeholder='Address' name='address' value='' /></td>" +
                "<td><input type='text' name='preview' value='' disabled='disabled'/></td>" +
                "<td><input type='text' name='label' value='' placeholder='Label' /></td>" +
                "<td>"+valueTypes+"</td>" +
                "<td style='text-align: center;'><input type='checkbox' name='writeable' /></td>" +
                "<td><input type='button' value='Preview' onclick='KNXValue(this)' />" +
                "<input type='button' value='Save' onclick='KNXValue(this,true)' /> </td>" +
                "</tr>";

        $("#knx").append(emptyRow);
        
    }
    
    function GPIOValue(elem){
        var name = $(elem).parent().parent().find("input[name=label]").val();
        var parameter_id = $(elem).parent().parent().find("input[name=parameter_id]").val();
        var gpio_id = $(elem).parent().parent().find("input[name=gpio_id]").val();
        var direction = $(elem).parent().parent().find("select[name=direction]").val();
        console.log(name,parameter_id,gpio_id,direction);
        $.post("requestHandler.php", {
            "r": "assignIdToAddress",
            "address": gpio_id,
            "name": name,
            "parameter_id": parameter_id,
            "direction": direction,
            "datasource": "GPIO",
            "valueType" : "boolean"
        }, function (data) {

            if(!data.error){
                if($(elem).parent().parent().find("input[name=parameter_id]").val() == ""){
                    $(elem).parent().parent().find("td:first").html("<input type='hidden' value='"+data.id+"' name='parameter_id' />"+data.id);
                }
                $(elem).parent().parent().animate({"background-color":"#0f0"}).animate({"background-color":"transparent"});
                if($(elem).parent().parent().find("input[name=parameter_id]").val() == undefined){
                    $(elem).parent().parent().find("td:first").html("<input type='hidden' value='"+data.id+"' name='parameter_id' />"+data.id);
                }
                $(elem).parent().find(".error").html("");
            }else{
                $(elem).parent().parent().animate({"background-color":"#f00"});
                $(elem).parent().find(".error").html(data.desc);
            }
            console.log(data);
        },"json");    }
    
    function KNXValue(elem,save){
        if(save==undefined) {
            save = false;
        }
        var address = $(elem).parent().parent().find("input[name=address]").val();
        var name = $(elem).parent().parent().find("input[name=label]").val();
        var parameter_id = $(elem).parent().parent().find("input[name=parameter_id]").val();
        var preview = $(elem).parent().parent().find("input[name=preview]");
        var valueType = $(elem).parent().parent().find("[name=valueType]").val();
        var writeable = $(elem).parent().parent().find("[name=writeable]").is(":checked");
        if(save){
            $.post("requestHandler.php", {
                "r": "assignIdToAddress",
                "address": address,
                "name": name,
                "parameter_id": parameter_id,
                "isWriteable": writeable,
                "datasource": "KNX",
                "valueType" :valueType
            }, function (data) {
    
                if(!data.error){
                    KNXValue(elem,false);
                    if($(elem).parent().parent().find("input[name=parameter_id]").val() == undefined){
                        $(elem).parent().parent().find("td:first").html("<input type='hidden' value='"+data.id+"' name='parameter_id' />"+data.id);
                    }
                    $(elem).parent().parent().animate({"background-color":"#0f0"}).animate({"background-color":"transparent"});
                }else{
                    preview.val(data.desc);
                }
                console.log(data);
            },"json");
        }else{
            //Not saving, just update the preview
            $.post("requestHandler.php", {
                "r": "getValueByAddress",
                "connType" : "KNX",
                "address" : address
            },function(data){
                preview.val(data.value);
            },"json");
        }
        
    }
</script>
<style type="text/css">
    li{
        list-style: none;
    }
    li.level_1{

    }
    li.level_2{
        padding:3px 3px;
        margin-bottom:5px;
    }
    li.level_2:nth-child(odd){
        background-color: #cccccc;
    }
    li.level_2:nth-child(even){
        background-color: #dddddd;
    }
    li.level_3:nth-child(odd){
        background-color: #aaaaaa;
    }
    
    .collapsible{
        cursor: pointer;
    }
    .collapsible:after{
        content: " \2193";
    }

    li.level_2 > span.li_box_1 {
        width: 190px;
    }
    li.level_3 > span.li_box_1 {
    }
    
    .li_box_1{
        min-width: 150px;
        display: inline-block;
    }
    .li_box_2{
        min-width: 150px;
        display: inline-block;
    }
    .li_box_3{
        min-width: 150px;
        display: inline-block;
    }
    .errorBox{
        color: #f00;
        font-size:8pt;
    }
    th.datasource{
        font-weight:bold;
        font-size: 20pt;
        text-align: left;
    }
</style>
</head>
<body>
