<script type="text/javascript" src="main.js"></script>
<script type="text/javascript">
    $(function() { //DOM Ready
        $( "#valueInfo" ).accordion({
            collapsible: true
        });
    });
    function previewGraph(elem) {
        var elements = $(elem).parent().find("input");
        var preview = $(elem).parent().find(".preview"); 
        preview.html("").css("width",$(elem).parent().find("input[name=width]").val()).css("height","0px").animate({height:$(elem).parent().find("input[name=height]").val()},3000,"swing",function(){
            $(this).css("height","auto");
        });
        $.post("requestHandler.php", elements.serialize() + "&configuration=" + $(elem).parent().find("textarea").val() + "&r=previewGraph", function (data) {
            console.log(data);
            if(data.error){
                preview.html(data.msg);
                preview.finish();
            }else{
                src = "../output/rrd_scripts/"+data.fileName;
                d = new Date();
                preview.html("<img src='"+src+"?"+d.getTime()+"' alt='preview' />");
                preview.finish();
            }
        },"json");
    }

    function saveGraph(elem) {
        var elements = $(elem).parent().find("input");
//        $(elem).parent().find(".preview").html("Saving...").css("width",$(elem).parent().find("input[name=width]").val()).css("height",$(elem).parent().find("input[name=height]").val());
        $.post("requestHandler.php", elements.serialize() + "&configuration=" + $(elem).parent().find("textarea").val() + "&r=saveGraph", function (data) {
            console.log(data);
//            src = "../output/rrd_scripts/"+data.fileName;
//            d = new Date();
//            $(elem).parent().find(".preview").html("<img src='"+src+"?"+d.getTime()+"' alt='preview' />").css("width","auto").css("height","auto");
        },"json");
    }

    function deleteGraph(elem) {
        var elements = $(elem).parent().find("input");
        $.post("requestHandler.php", elements.serialize() + "&configuration=" + $(elem).parent().find("textarea").val() + "&r=deleteGraph", function (data) {
            console.log(data);
        },"json");
    }

</script>
<style type="text/css">
    .preview{
        display: inline-block;
        border: solid 1px black;
        
    }
</style>
</head>
<body>
