    <link rel="stylesheet" href="../lib/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="../lib/jquery-ui/jquery-ui.structure.css" />
    <link rel="stylesheet" href="../lib/jquery-ui/jquery-ui.theme.css" />
    <link rel="stylesheet" href="../ressources/monitor.css" />
    <style type="text/css">
        
        .edit{
            width: 15px;
            height:15px;
            opacity: 0.6;
            left: -10px;
            bottom: -8px;
            cursor: pointer;
            display: block;
            position: absolute;
        }
        
        .layout{
            width: 1257px;
            height: 703px;
            background-color: lightgray;
            display: inline-block;
            margin-top:20px;
            position: relative;
        }
        
        .layout .el-value,.el-notification, .el-selection {
            background-color: darkgray;
        }

        .group.ui-draggable{
            cursor: move;
        }
        .new-group{
            float: left;
        }
        .new-element{
            opacity: 0.5;
            min-width: 150px;
            /*height: 38px;*/
            border: solid 1px black;
            float: left;
            display: block;
            margin: 5px 0px;
        }
        
        .new-element.el-value {
            min-width: 175px;
        }
        .new-element.el-selection{
            min-width: 125px;
        }
        .new-element.el-button{
            min-width: 75px;
        }

        .new-element.el-graph, .new-element.el-logwindow{
            min-width: 75px;
            min-height: 35px;
        }
        .new-element.el-logwindow{
            margin-left:5px;
        }
        
        /* If the element is the new element make the notification icon a gradient */

        .el-notification.new-element .valueValue{
            background: linear-gradient(to right,red,green);
        }

        .trash-active{
            background-color: red !important;
            opacity: 1 !important;
        }
        
        .group .name, .group .valueName {
            cursor: text;
        }

        #trashGroups{
            width:70px;
            height:70px;
            margin: 50px;
            background-color: #faa;
            background-image: url("trash-icon.png");
            background-size: contain;
            display: inline-block;
            float: left;
        }
        #trashElements{
            width:70px;
            height:70px;
            margin: -120px 50px 50px 50px;
            background-color: #faa;
            background-image: url("trash-icon.png");
            background-size: contain;
            display: inline-block;
            float: left;
            opacity: 0;
        }
        
        #droppables{
        }

            
        #positionDisplay{
            display: block; 
            position: fixed; 
            top: 30px; 
            right: 0px;
            background-color: white;
        }
        
        @media only screen
        and (min-width : 1525px) { /* If screen is wide enough show toolbox to the right*/
            #droppables{
                display: inline-block;
                max-width: 180px;
                margin-left: 10px;
            }
        }

        @media only screen
        and (max-width : 1525px) { /* If screen is not wide enough show toolbox below */
            #droppables{
                padding-top: 20px;
                display: inline-block;
            }
            #droppables .element{
                margin: 2px;
            }
        }

        
        
        .ui-draggable-dragging{
            opacity: 0.5;
        }
        #overlay{
            background-color: white;
            border-radius: 5px;
            box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
            z-index: 100;
            padding: 5px;
        }
        #overlay ul>li{
            list-style: none;
            cursor: pointer;
        }
        
        #preview{
            margin-top: 20px;
            margin-bottom: 30px;
            width: 1257px;
            height: 703px;
            background-color: #dddddd;
            overflow: hidden;
            position: relative;
            float:left;
        }
        
        .el-button .valueName{
            vertical-align: middle;
        }
    </style>
    <script type="text/javascript" src="../ressources/monitor.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript">


        var spacingBetweenGroups = 4;
        var valueTarget = null;
        var deletedElements = [];
        var currentBottomRightLimit = {};
        var setLogLevel = 0;
        var setLogActive = [0, 0, 0, 0];
        var setLogName = 'None';
                
        var groupResizableSettings = {
            containment: "parent",
            start: function(event,ui){  //Use the start function to calculate the currently relevant max height and width
                //As a basis set the borders of the box as limit so we have a start value
                currentBottomRightLimit = {
                    right: $(this).parent().width()+$(this).parent().position().left-spacingBetweenGroups-2,
                    bottom:  $(this).parent().height()+$(this).parent().position().top-spacingBetweenGroups-2
                };
                var currentGroup = $(this);
//                    console.log(currentBottomRightLimit);
                //Loop over all groups
                //Construct array of objects that are not this object with their position and size
                var otherBoxes = new Array();
                $(this).parent().find(".group").each(function(){
                    if($(this).attr("id") != currentGroup.attr("id")){
                        otherBoxes.push({
                            top:    $(this).position().top,
                            bottom: $(this).position().top+$(this).height(),
                            left:   $(this).position().left,
                            right:  $(this).position().left+$(this).width(),
                            width:  $(this).width(),
                            height: $(this).height(),
                        });
                    }
                });
                var rightLimit = currentBottomRightLimit.right;
                var topLimit  = currentBottomRightLimit.bottom;
                var thisBoxLimits = {
                    top: $(this).position().top,
                    bottom: $(this).position().top+$(this).height(),
                    left:  $(this).position().left,
                    right: $(this).position().left+$(this).width(),
                }
                //Loop over array and construct limits for the current element with regards to the relevance of the boxes
                $(otherBoxes).each(function(){
//                        console.log($(this)[0].top);
                    //get the rightmost position available for an element of this height
                    if($(this)[0].left > thisBoxLimits.right){
                        //Element is to the right of this Box
                        if(
                                ($(this)[0].top <= thisBoxLimits.top && $(this)[0].bottom >= thisBoxLimits.bottom) || //Box start above and ends below this one 
                                ($(this)[0].top > thisBoxLimits.top && $(this)[0].top < thisBoxLimits.bottom)    || //Box top is within this Box limits
                                ($(this)[0].bottom > thisBoxLimits.top && $(this)[0].bottom < thisBoxLimits.bottom)   //Box bottom is within this Box limits
                        ){
                        //Element is within the current height 
                            if(rightLimit > $(this)[0].left){
                                rightLimit = $(this)[0].left-spacingBetweenGroups;
                            }
                        }
                    }else if($(this)[0].top > thisBoxLimits.bottom){
                        //Element is below this Box
                        if(
                                ($(this)[0].left <= thisBoxLimits.left && $(this)[0].right >= thisBoxLimits.right) || //Box start left and ends right of this one 
                                ($(this)[0].left > thisBoxLimits.left && $(this)[0].left < thisBoxLimits.right)  || //Box left is within this Box limits
                                ($(this)[0].right > thisBoxLimits.left && $(this)[0].right < thisBoxLimits.right)   //Box right is within this Box limits
                        ){
                            //Element is within the current height 
                            if(topLimit > $(this)[0].top){
                                topLimit = $(this)[0].top-spacingBetweenGroups;
                            }
                        }
                        
                    }
                });
                currentBottomRightLimit.right = rightLimit-2;
                currentBottomRightLimit.top = topLimit-2;
                $("#positionDisplay").stop().fadeIn(10);  //Make sure the position display element is not animating away and instead show it. 


//                    console.log(currentBottomRightLimit);
            },
            resize: function(event,ui){
                if(ui.size.width>(currentBottomRightLimit.right-ui.position.left)){
                    ui.size.width = currentBottomRightLimit.right-ui.position.left;
                }
                if(ui.size.height>(currentBottomRightLimit.top-ui.position.top)){
                    ui.size.height = currentBottomRightLimit.top-ui.position.top;
                }
                showResizableDimensions($(this));
            },
            stop: function(event,ui){
                currentBottomRightLimit = {};
                $("#positionDisplay").fadeOut(1000);
            }
        };

        var groupDraggableSettings = {
            scope: "groups",
            revert: "invalid",
            obstacle: ".obstacle",
            preventCollision: true,
            start: function(event,ui){
                $(this).removeClass("obstacle");  //Need to remove the obstacle marker from itself otherwise the collision finder fails
                
                //Check if the element has a resizable assigned
//                    console.log(ui.helper.resizable("instance"));
            },
            stop: function(event,ui){
                $(this).addClass("obstacle");  //Add the obstacle marker back so other elements collide with this element again
                $("#positionDisplay").fadeOut(1000);
            },
            drag: function(event,ui){
                showDraggablePosition($(this));
            }
        };
        
        var elementSettings = {
            scope: "elements",
            revert: "invalid",
            obstacle: ".el-obstacle",
            preventCollision: true,
            start: function(){
                $(this).removeClass("el-obstacle");  //Need to remove the obstacle marker from itself otherwise the collision finder fails
                $(this).width($(this).width());
                $("#positionDisplay").stop().fadeIn(10);  //Make sure the position display element is not animating away and instead show it. 
            },
            stop: function(){
                $(this).addClass("el-obstacle");  //Add the obstacle marker back so other elements collide with this element again
                $("#positionDisplay").fadeOut(300);
            },
            drag: function(event,ui){
                showDraggablePosition($(this));
            },
            revertDuration: 200,
        };
        
        var groupSettingsWithClone = $.extend({helper:"clone",appendTo:"body"},groupDraggableSettings);
        
        var elementSettingsWithClone = $.extend({helper:"clone",appendTo:"body"},elementSettings);

        var groupDroppableSettings = {
            scope: "elements", //Allows only elements to be placed inside of groups
            tolerance: "fit",  //Requires elements to be placed perfectly inside the box
            over: function(event,ui){
//                    console.log(this);
//                    console.log(ui.helper.offset());
            },
            drop: function(event,ui){
                target = $(this);
                
//                    ui.helper.css({"top":ui.helper.position().top,"left":ui.helper.position().left});
                if(ui.helper.hasClass("new-element")){
                    ui.helper.css({"top":Math.floor(ui.helper.offset().top-target.offset().top),"left":Math.floor(ui.helper.offset().left-target.offset().left)});
                    ui.helper.removeClass("new-element"); //Remove the class defining that this element is a new one since it is now part of a class
                    var copy = ui.helper.clone(); //Create copy of the element
                    //Set a unique ID for the newly copied element
                    copy.attr("id","element_"+getUnusedId("element_"));
                    copy.css({"height":"auto"});
                    //TODO: Check type of element and display appropriate selector for datasource/activity of the element
                    if($(ui.helper.hasClass("el-value"))[0]){
                        //Is a value selector
//                            console.log("Value inserted!");
                        copy.appendTo(target).draggable(elementSettings).removeClass("ui-draggable-dragging");
                        copy.addEditable();
                        //Display selector for double values
                        displayDoubleValueSelector(undefined,copy);

                    }else if($(ui.helper.hasClass("el-graph"))[0]){
                        //Is a graph
                        //TODO: Check if no other element is in here before inserting since it's gonna take over the whole element
                        copy.appendTo(target).removeClass("ui-draggable-dragging").css({
                            "width": "auto",
                            "height": "auto",
                            "top" : "0px",
                            "left" : "0px",
                            "position" : "relative"
                        });
                        //Display selector for graphs
                        target.resizable("destroy").droppable("destroy");
                        displayGraphSelector(undefined,copy);
                    }else if($(ui.helper.hasClass("el-logwindow"))[0]){
                        //Is a graph
                        //TODO: Check if no other element is in here before inserting since it's gonna take over the whole element
                        copy.appendTo(target).removeClass("ui-draggable-dragging").css({
                            "width": "100%",
                            "height": "100%",
                            "top" : "0px",
                            "left" : "0px",
                            "position" : "relative"
                        });
                        target.droppable("destroy");
                        //Display selector for graphs
                        displayLogSelector(undefined,copy);
                    }else if($(ui.helper.hasClass("el-notification"))[0]){
                        //Is a notification
//                            console.log("Notification inserted!");
                        copy.appendTo(target).draggable(elementSettings).removeClass("ui-draggable-dragging");
                        copy.addEditable();
                        //Display selector for boolean values
                        if($(ui.helper.hasClass("el-input"))[0]){
                            displayWriteableBoolValueSelector(undefined,copy);
                        }else{
                            displayBoolValueSelector(undefined,copy);
                        }
                    }else if($(ui.helper.hasClass("el-selection"))[0]){
                        //Is a selector
                        copy.appendTo(target).draggable(elementSettings).removeClass("ui-draggable-dragging");
                        copy.addEditable();
                        //Display selector for integer values
                        displayIntegerValueSelector(undefined,copy);
                    }else if($(ui.helper.hasClass("el-button"))[0]){
                        //Is a selector
                        copy.appendTo(target).draggable(elementSettings).removeClass("ui-draggable-dragging");
                        copy.addEditable();
                        //Display selector for integer values
                        copy.css({"height":copy.height()});
                        displayButtonActionSelector(undefined,copy);
                    }
                }else{
                    ui.helper.appendTo(target);
                }

                //Make sure that the element can't be resized below the size of the contents
                var minHeight = 20;
                var minWidth  = 50;
                var tmpHeight = 0;
                var tmpWidth = 0;
                $(this).find(".element").each(function(){
                    tmpHeight = $(this).position().top+$(this).outerHeight()+5; //Get bottom border of the element +5 px
                    tmpWidth  = $(this).position().left+$(this).outerWidth()+5; //Get rightmost border of the element +5 px
                    minHeight = (tmpHeight > minHeight)?tmpHeight:minHeight;
                    minWidth  = (tmpWidth  > minWidth )?tmpWidth :minWidth ;
                });
                if($(this).resizeable != null){
                    $(this).resizable("option","minWidth",minWidth);
                    $(this).resizable("option","minHeight",minHeight);
                }


//                console.log("New Parent is: "+$(this)[0].id);
            }
        };
        
        var layoutDroppableSettings = {
            hoverClass: "layout-drop",
            scope: "groups",
            tolerance: "fit",
            drop: function(event,ui){
                group = ui.helper.offset();
                layout = $(this).offset();
                target = $(this);
                ui.helper.css({"top":Math.floor(group.top-layout.top-2),"left":Math.floor(group.left-layout.left-2)});
                if(ui.helper.hasClass("new-group")){
                    var copy = ui.helper.clone(); //Create copy of the element
                    copy.removeClass("new-group"); //Remove the class defining that this element is a new one since it is now part of a layout
                    //Set a unique ID for the newly copied element
                    copy.attr("id","group_"+getUnusedId("group_"));
//                        console.log(copy);
                    copy.appendTo(target).addEditable().resizable(groupResizableSettings).draggable(groupDraggableSettings).droppable(groupDroppableSettings).removeClass("ui-draggable-dragging");
                    copy.find(".name").each(function(){
                        $(this).click(showRenameInput);
                    });
                }
//                    console.log("New Parent is: "+$(this)[0].id);
            }
        };

        $(function(){ //DOM Ready
            //Variables for Resizing of Groups
            $(".new-group").draggable(groupSettingsWithClone);
            $(".new-element").draggable(elementSettingsWithClone);
            $("#trashGroups").droppable({
                hoverClass: "trash-active",
                scope: "groups",
                tolerance: "touch",
                drop: function(event,ui){
                    //Delete the dropped element
                    deletedElements.push(ui.helper.attr("id"));
                    ui.helper.remove();
                }
            });
            $("#trashElements").droppable({
                hoverClass: "trash-active",
                scope: "elements",
                tolerance: "touch",
                drop: function(event,ui){
                    //Delete the dropped element
                    deletedElements.push(ui.helper.attr("id"));
                    ui.helper.remove();
                }
            });


            $("#tabs").tabs({
                activate: function(event,ui){
                    ui.oldPanel.find(".group").removeClass("obstacle");
                    ui.newPanel.find(".group").addClass("obstacle");
                },
                load: function (event,ui) {
                    //After Loading a tab initialize all the interactions relevant
                    $(ui.panel).find(".layout").droppable(layoutDroppableSettings);
                    $(ui.panel).find(".group").draggable(groupDraggableSettings).addEditable().resizable(groupResizableSettings).droppable(groupDroppableSettings);

                    initializeInteractivity(ui.panel);
                },
                beforeLoad: function (event,ui) {
                    if(ui.panel.html()!=""){
                        //preventing reload of tab
                        return false;
                    }
                }
            });
        });
        
        //Method that adds the editable wheel to every eligible element 
        jQuery.fn.extend({
            addEditable: function(){
                return this.each(function() {
                    $(this).html($(this).html()+"<span class='edit ui-icon ui-icon-gear' onClick='displayElementResizer(this)'>&nbsp;</span>");
                });
            },
            removeEditable: function(){
                return this.each(function() {
                    $(this).find(".edit").remove();
                });
            }
        });

        /**
         * Returns an ID above 10000 which is not yet used with this prefix. The ID needs to be replaced with a database synced one on save
         */
        function getUnusedId(prefix){
            for(var i=10000;i<10500;i++){
                if($("#"+prefix+i)[0]==undefined){
                    return i;
                }
            }
        }
        
        function initializeInteractivity(elem){
            elem = $(elem);
            elem.find(".element").draggable(elementSettings).addEditable().click(function(){
                showDraggablePosition($(this));
            });
            //Prevent Graphs from being dragged out of their group
            elem.find(".el-graph").draggable("destroy").removeEditable();
            elem.find(".el-graph").parent().resizable("destroy").css("height","auto");

            //Prevent Logs from being dragged out of their group
            elem.find(".el-logwindow").draggable("destroy").removeEditable();

            //On Group click display textfield to change Name
            elem.find(".name").each(function(){
                $(this).click(showRenameInput);
            });
            elem.find(".valueName").each(function(){
                $(this).click(showRenameInput);
            });
        }
        
        function showDraggablePosition(elem){
            //Make sure the position display element is not animating away and instead show it.
            $("#positionDisplay").stop().fadeIn(10).html("top: "+elem.position().top+"px<br />left: "+elem.position().left+"px");
        }
        
        function showResizableDimensions(elem){
            $("#positionDisplay").html("width: "+elem.width()+"px<br />height: "+elem.height()+"px");
        }
        
        function showRenameInput(elem){
//            console.log("triggering showrenameinput");
            var div = $(elem.target);
            div.html("<input type='text' value='"+$(this).html()+"' size='"+($(this).html().length+2)+"' name='name'/>");
            var input = div.find("input");
            input.focus();
            input.on("keypress",function(e){
                if (e.which === 13) { // if is enter
                    e.preventDefault(); // don't submit form
                    input.blur();
                }
            });
            input.focusout(function(){
//                console.log("resetting showrenameinput");
                div.html(input.val());
                div.click(showRenameInput)
            });
            $(this).unbind("click");
        }


        function saveLayout(elem){
            var layout = $(elem).find(".layout");
            var layoutId = layout.attr("id");
            var layoutName = $(elem).find("input[name=layoutName]").val();
            //Update Name in Tabs
            $("#"+$(elem).parent().attr("aria-labelledby")).html(layoutName);
            var groups = [];
            var elements = [];
            layout.find(".group").each(function(){
                groups.push({
                    "style":$(this).attr("style"),
                    "name":$(this).find(".name").html(),
                    "id":$(this).attr("id")
                });
                var group = $(this).attr("id");
                $(this).find(".element").each(function(){
                    elements.push({
                        "style":$(this).attr("style"),
                        "class":$(this).attr("class"),
                        "id":$(this).attr("id"),
                        "valueId":$(this).attr("value_id"),
                        "valueName":$(this).attr("value_name"),
                        "target":$(this).attr("target"),
                        "rows":$(this).attr("rows"),
                        "name":$(this).find(".valueName").html(),
                        "group":group
                    });
                });
            });
            $.post("requestHandler.php", {
                "r": "saveLayout",
                "name": layoutName,
                "layout_id": layoutId,
                "groups": groups,
                "elements":elements,
                "deletedElements":deletedElements
            }, function (data) {
                //Display that changes were saved
                $(elem).animate({"background-color":"#0f0"},500).animate({"background-color":"transparent"},500);
                $(elem).find("input[name=layoutName]").animate({"background-color":"#0f0"},500).animate({"background-color":"#fff"},500);
//                console.log($("#"+layoutId));
                if(data.newLayout){
                    location.reload();
                }
                deletedElements = []; //Empty the deleted Elements array so they aren't deleted again after saving
                //Assign the correct IDs to the elements so pressing the save button multiple times doesn't create copies
                $.each(data.elements,function(oldId,newId){
                    $("#element_"+oldId).attr("id","element_"+newId);
                });
                $.each(data.groups,function(oldId,newId){
                    $("#group_"+oldId).attr("id","group_"+newId);
                });
            }, "json");
        }
        
        function previewLayout(elem){
            var layout = $(elem).find(".layout");
            var layoutId = layout.attr("id");
            var layoutName = $(elem).find("input[name=layoutName]").val();
            var groups = [];
            var elements = [];
            layout.find(".group").each(function(){
                groups.push({
                    "style":$(this).attr("style"),
                    "name":$(this).find(".name").html(),
                    "id":$(this).attr("id")
                });
                var group = $(this).attr("id");
                $(this).find(".element").each(function(){
                    elements.push({
                        "style":$(this).attr("style"),
                        "class":$(this).attr("class"),
                        "id":$(this).attr("id"),
                        "valueId":$(this).attr("value_id"),
                        "valueName":$(this).attr("value_name"),
                        "target":$(this).attr("target"),
                        "rows":$(this).attr("rows"),
                        "name":$(this).find(".valueName").html(),
                        "group":group
                    });
                });
            });
            $.post("requestHandler.php", {
                "r": "previewLayout",
                "name": layoutName,
                "layout_id": layoutId,
                "groups": groups,
                "elements":elements
            }, function (data) {
                $("#preview").html(data);
                loadAllValues("#preview");
            });
        }

        function deleteLayout(elem){
            var layout = $(elem).find(".layout");
            var layoutId = layout.attr("id");

            $.post("requestHandler.php", {
                "r": "deleteLayout",
                "layout_id": layoutId
            }, function (data) {
                //Display that changes were saved
                $(elem).animate({"background-color":"#ff0000"},500).animate({"background-color":"transparent"},500);
                $(elem).find("input[name=layoutName]").animate({"background-color":"#ff0000"},500).animate({"background-color":"#fff"},500);

                location.reload();
            }, "json");
        }

        function displayDoubleValueSelector(selected,target){
            if(selected==undefined){
                selected = null;
            }
            $.post("requestHandler.php", {
                "r": "getOverlayContent",
                "content" : "getAllDoubleValues"
            }, function (data) {
                displaySelectorOverlay(data,target);
            });
        }

        function displayGraphSelector(selected,target){
            if(selected==undefined){
                selected = null;
            }
            $.post("requestHandler.php", {
                "r": "getOverlayContent",
                "content" : "getAllGraphs"
            }, function (data) {
                displaySelectorOverlay(data,target);
            });
        }

        function displayIntegerValueSelector(selected,target){
            if(selected==undefined){
                selected = null;
            }
            $.post("requestHandler.php", {
                "r": "getOverlayContent",
                "content" : "getAllIntegerValues"
            }, function (data) {
                displaySelectorOverlay(data,target);
            });
        }

        function displayBoolValueSelector(selected,target){
            if(selected==undefined){
                selected = null;
            }
            $.post("requestHandler.php", {
                "r": "getOverlayContent",
                "content" : "getAllBoolValues"
            }, function (data) {
                displaySelectorOverlay(data,target);
            });
        }

        function displayWriteableBoolValueSelector(selected,target){
            if(selected==undefined){
                selected = null;
            }
            $.post("requestHandler.php", {
                "r": "getOverlayContent",
                "content" : "getAllWriteableBoolValues"
            }, function (data) {
                displaySelectorOverlay(data,target);
            });
        }
        function displayButtonActionSelector(selected, target){
            if(selected==undefined){
                selected = null;
            }
            $.post("requestHandler.php", {
                "r": "getOverlayContent",
                "content" : "getButtonActions"
            }, function (data) {
                displaySelectorOverlay(data,target);
            });
        }

        function displayLogSelector(selected, target){
            if(selected==undefined){
                selected = null;
            }
            $.post("requestHandler.php", {
                "r": "getOverlayContent",
                "content" : "getLogActions"
            }, function (data) {
                displaySelectorOverlay(data,target);
            });
        }

        function displayElementResizer(elem){
            var content = "Modify the dimensions and position of this element. <br />";
            var dimensions = $(elem).parent().position();
            var groupId = $(elem).parent().attr("id");
            var currentLayoutId = $(elem).parent().parent().attr("id").substr(7);
            dimensions["width"] = $(elem).parent().width();
            dimensions["height"] = $(elem).parent().height();
            dimensions["top"] = Math.round(dimensions["top"]);
            dimensions["left"] = Math.round(dimensions["left"]);
            $.each(dimensions,function(name,value){
                content += name+":<input type='number' name='"+name+"' value='"+value+"' style='width:40px;' min='0'/><br />";
            });
//            if($(elem).parent().hasClass("group")){
//                content += "<input type='button' value='copy to test2' onClick='copyToLayout(\""+$(elem).parent().attr('id')+"\",2)' />";
//            }
            if($(elem).parent().hasClass("group")){
                $.each(layouts,function(targetLayoutId,targetLayoutName){
                    if(currentLayoutId != targetLayoutId){
                        content += "<input type='button' value='Copy to Layout \""+targetLayoutName+"\"' onClick='copyToLayout(\""+groupId+"\","+targetLayoutId+")' />";
                    }
                });
            }
            displaySelectorOverlay(content,$(elem));
            $("#overlay input").each(function(){
                $(this).change(function(){
                    $(elem).parent().css($(this).attr("name"),$(this).val()+"px");
                })
            })
        }
        

        
        function copyToLayout(groupId,targetLayoutId){
            //Switch to target tab
            $("#tabs").tabs("option","active",targetLayoutId-1);
            //Wait for 500ms to make sure the tab is loaded
            setTimeout(function(){
                target = $("#layout_"+targetLayoutId);
                var newGroupId = getUnusedId("group_");
                console.log("copying...");
                //Copy the group to the target layout and assign a new group ID in the process
                $("#"+groupId).clone().attr("id","group_"+newGroupId).appendTo(target);
                var targetGroup = $("#group_"+newGroupId);
                //Initialize the Group settings
                targetGroup.draggable(groupDraggableSettings).addEditable().resizable(groupResizableSettings).droppable(groupDroppableSettings);
                //Update the internal IDs of all the elements in this group
                $.each(targetGroup.find(".element"),function(i,obj){
                    $(obj).attr("id","element_"+getUnusedId("element_"));
                });
                //Initialize all the copied elements within the group
                initializeInteractivity(targetGroup);
            },500);
            closeSelectorOverlay();
            
        }
        
        function setValue(id,name){
            valueTarget.attr("value_id",id).attr("value_name",name);
            valueTarget.find(".valueName").html(name);
            valueTarget.css("width","auto").width(valueTarget.width()+10);  //Resize to fitting width and then set the width to +3 pixel to account for subpixels
//            console.log(valueTarget.attr("style"));
            closeSelectorOverlay();
        }
        
        function setGraph(id,timeframe,path) {
            valueTarget.attr("value_id",id).attr("value_name",path).attr("name",path);
            valueTarget.html("<img src='"+graphPath+path+"' alt='"+timeframe+"' />");
            valueTarget.css("width","auto");
            valueTarget.parent().css("width","auto").css("height","auto");
            closeSelectorOverlay();
        }
        
        function saveButtonSettings(elem){
            var label  = $(elem).parent().find("input[name=label]").val();
            var target = $(elem).parent().find("input[name=target]").val();
            valueTarget.find(".valueName").html(label);
            valueTarget.css({"width":"auto"}).css({"height":"auto"}).width(valueTarget.width()+1); //Allow automatic resizing and then set the width to the current one
            valueTarget.attr("value_name",label).attr("target",target);
            closeSelectorOverlay();
        }

        function selectLogLevel(elem,level,name,rows){
            valueTarget.find(".valueName").html("Log with Level: "+name+ " and "+rows+" rows.");
            valueTarget.attr("value_name",name).attr("target",level).attr("rows",rows);
            closeSelectorOverlay();
        }
        function selectLayout(id,name){
            $("#overlay").find("input[name=label]").val(name);
            $("#overlay").find("input[name=target]").val("?layout="+id);
        }
        
        function alignElementsAtRoundedPixels(){
            $(".layout .element").each(function(){
                $(this).css("left",Math.floor($(this).position().left));
                $(this).css("top",Math.floor($(this).position().top));
                $(this).css("width",Math.floor($(this).width()));
                $(this).css("height",Math.floor($(this).height()));
            });
        }

        //Individual selection of Loglevel
        function setLogData(save, pos) {

            //$logLevels = $defaultLogger->getLogLevels();
            //foreach($logLevels as $level=>$name)
            var name = new Array('ALL', 'ERROR', 'WARNING', 'NOTICE');

            if(save == 0){
                setLogActive[pos] = 1;
            }

            if(save == 1)
            {
                if((setLogActive[1] && setLogActive[2] && setLogActive[3]) || (!setLogActive[1] && !setLogActive[2] && !setLogActive[3]))
                {
                    setLogLevel = 0;
                    setLogName = name[setLogLevel];
                }

                if((setLogActive[1] + setLogActive[2] + setLogActive[3]) == 1)
                {
                    if(setLogActive[1] == 1)
                    {
                        setLogLevel = 1;
                        setLogName = name[setLogLevel];
                    }
                    if(setLogActive[2] == 1)
                    {
                        setLogLevel = 2;
                        setLogName = name[setLogLevel];
                    }
                    if(setLogActive[3] == 1)
                    {
                        setLogLevel = 3;
                        setLogName = name[setLogLevel];
                    }
                }

                if((setLogActive[1] + setLogActive[2] + setLogActive[3]) == 2)
                {
                    if(setLogActive[1] != 1)
                    {
                        setLogLevel = 4;
                        setLogName = name[2] + ', ' + name[3];
                    }
                    if(setLogActive[2] != 1)
                    {
                        setLogLevel = 5;
                        setLogName = name[1] + ', ' + name[3];
                    }
                    if(setLogActive[3] != 1)
                    {
                        setLogLevel = 6;
                        setLogName = name[1] + ', ' + name[2];
                    }
                }
                setLogActive = [0, 0, 0, 0];
            }
        }

    </script>
</head>
<body>
