body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#monitor{
    width: 1257px;
    height: 703px;
    background-color: #dddddd;
    overflow: hidden;
    position: relative;
}
/** element styles for draggable elements **/
.element{
    z-index: 10;
    display: inline-block;
    text-align: center;
}
.element.ui-draggable{
    cursor: move;
}

.el-button{
    background-color: lightgray;
}
.el-graph{

}
.group > .el-graph{
    /* Styles for graphs after being dropped into a grouping window */
}

.group .name {
    position: absolute;
    left: 0px;
    top: -20px;
    font-weight: bold;
}
.group .name, .group .valueName {
    cursor: default;

}

.el-notification{
    background-color: transparent;
    text-align: left;
}

.el-notification .valueValue{
    display: inline-block;
    width:16px;
    height:16px;
    border-radius: 16px;
    background: radial-gradient(lightgray,gray);
    padding: 4px;
}


.el-notification .valueValue.red{
    background: radial-gradient(red,darkred);
}

.el-notification .valueValue.green{
    background: radial-gradient(#00ff00,green);
}

.el-notification .valueValue.orange{
    background: radial-gradient(orange,#cc8c00);
}

.el-notification .valueValue.gray{
    background: radial-gradient(lightgray,gray);
}
.el-notification .valueValue.blue{
    background: radial-gradient(lightblue,blue);
}

.el-notification .valueName{
    margin-left: 5px;
}

.el-value, .el-notification{
    /*border: solid 0px black;*/
    /*background-color: white;*/

}
.el-logwindow{
    background-color: white;
}

.el-selection .valueName{
    float: left;
}

.el-selection .valueValue{
    float: right;
}

.el-value .valueValue{
    background-color: #62c462;
    margin: 5px 2px 0px 2px;
    padding: 5px 0px;
    /*border: solid 1px grey;*/
    box-shadow: #777777 0px 0px 3px 1px;
}

.el-value-left .valueName{
    margin-top: 5px;
    padding-top: 5px;
    float: left;
    display: block;
}

.el-value-left .valueValue{
    margin-top: 0px;
    margin-left: 4px;
    float: right;
    display: block;
    font-size:16pt;
    padding: 5px;
    min-width: 120px;
}


.el-value-top .valueName{
    display: block;
    text-align: center;
}

.el-value-top .valueValue{
    min-width:150px;
    /*width: 100%;*/
    text-align: center;
    display: block;
    font-size:16pt;
}

.el-small .valueName{
    margin-top: 0px;
    padding-top: 0px;
}
.el-small.el-value-left .valueValue{
    margin-left: 4px;
    float: right;
}
.el-small .valueValue{
    background-color: white !important;
    display: block;
    font-size:12pt;
    margin-top: 0px;
    padding: 0px;
}


.valueName{
    font-size:12pt;
}

/* Input Elements */

.el-value.el-input .valueValue{
    background-color: #fff; 
    border: solid 2px black;
    text-align: center;
    font-size:16pt;
}
.el-notification.el-input .valueValue{
    cursor: pointer;
    border: solid 2px black;
}

.group{
    /*background-color: grey;*/
    border: solid 1px black;
    margin: 2px;
}

.el-button{
    display: table !important;
    vertical-align: middle;
}

.el-button .valueName{
    display: table-cell;
}

.el-button, .el-button input[type=button]{
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    border: 1px; 
    border-radius: 5px;
    background: radial-gradient(white,gray);
    height: 24px;
}
.el-button input[type=button]{
    width:100%;
    height:100%;
}

.el-button input[type=button]:hover{
    background: white;
    
}
